{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020
  },
  "extends": [
    "eslint-config-prettier"
  ],
  "plugins": [
    "html"
  ],
  "rules": {
    "no-unused-vars": "off",
    "no-console": "off",
    "max-classes-per-file": "off",
    "prefer-const": "off",
    "no-param-reassign": "off",
    "guard-for-in": "off",
    "no-restricted-syntax": "off",
    "class-methods-use-this": "off",
    "dot-notation": "off",
    "no-plusplus": "off",
    "no-return-await": "off",
    "no-await-in-loop": "off",
    "one-var": "off",
    "default-case": "warn",
    "no-shadow": "warn",
    "no-prototype-builtins": "off",
    "require-jsdoc": "off",
    "valid-jsdoc": "off"
  },
  "env": {
    "node": true,
    "browser": true
  }
}
