html, body {
  padding: 0;
  margin: 0;
}
my-app {
  display: grid;
  grid-template-rows: min-content auto min-content;
  min-height: 100vh;
}
header {
  background-color: #000;
  color: #fff;
  padding: 10px;
}
main {
  padding: 10px;
}
footer {
  background-color: #000;
  color: #fff;
  padding: 10px;
}