:root {
  --rgb-1: 166, 219, 255;
  --rgb-2: 36, 36, 43;

  --color-1: rgb(var(--rgb-1));
  --color-2: rgb(var(--rgb-2));

  --opacity-1: 0.1;
  --opacity-2: 0.2;
  --opacity-3: 0.6;

  --shade-1: rgba(var(--rgb-1), var(--opacity-1));
  --shade-2: rgba(var(--rgb-2), var(--opacity-1));

  --step-min: 5px;
  --step-mid: 10px;
  --step-max: 20px;

  --radius-1: 3px;

  --tap-size: 38px;
}

html, body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
[caption] {
  position: relative;
  padding-top: calc(var(--step-mid) * 2 + 1em) !important;
}
[caption]::before {
  position: absolute;
  content: attr(caption);
  top: var(--step-mid);
  left: var(--step-mid);
  opacity: 0.6;
}